Source: opsi-utils
Section: opsi
Priority: optional
Maintainer: uib GmbH <info@uib.de>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: opsi-utils
Section: opsi
Architecture: all
Depends: python-opsi (>= 3.3.0.24-1)
Description: OPSI utils
 This package contains the opsi util collection.
