#!/usr/bin/make -f
# -*- makefile -*-

clean:
	dh_testdir
	dh_testroot
	dh_clean
	rm -f debian/files || true
	#rm gettext/*.mo

install:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	
	#msgfmt -o gettext/opsi_newprod_de.mo gettext/opsi_newprod_de.po
	#msgfmt -o gettext/opsi_newprod_fr.mo gettext/opsi_newprod_fr.po
	
	#mkdir -p debian/opsi-utils/usr/share/locale/de/LC_MESSAGES
	#mkdir -p debian/opsi-utils/usr/share/locale/fr/LC_MESSAGES
	#install -m 0640 gettext/opsi_newprod_de.mo debian/opsi-utils/usr/share/locale/de/LC_MESSAGES/opsi_newprod.mo
	#install -m 0640 gettext/opsi_newprod_fr.mo debian/opsi-utils/usr/share/locale/fr/LC_MESSAGES/opsi_newprod.mo
	
	install -m 0750 -g opsiadmin  opsi-admin           debian/opsi-utils/usr/bin/
	install -m 0755               opsi-newprod         debian/opsi-utils/usr/bin/
	install -m 0755               opsi-makeproductfile debian/opsi-utils/usr/bin/
	install -m 0755               opsi-package-manager debian/opsi-utils/usr/bin/
	install -m 0755               opsi-convert         debian/opsi-utils/usr/bin/
	
	dh_install
	
binary-indep: install
	dh_testdir -i
	dh_testroot -i
	dh_installdebconf
	dh_installchangelogs -i
	dh_shlibdeps
	dh_md5sums
	dh_gencontrol
	dh_installdeb
	dh_builddeb

binary: binary-indep
build:
.PHONY: clean binary-indep binary install build
