#!/usr/bin/make -f
# -*- makefile -*-

clean:
	dh_testdir
	dh_clean
	rm -f debian/files || true

install:
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	
	# copy pyinstaller files
	cp -a opsi-utils debian/opsi-utils/usr/lib/

	# create scripts in /usr/bin
	for i in opsi-admin opsi-backup opsi-convert opsi-makepackage opsi-newprod opsi-package-manager opsi-package-updater; do \
		echo "#!/bin/sh" > debian/opsi-utils/usr/bin/$$i && \
		echo "cd /usr/lib/opsi-utils" >> debian/opsi-utils/usr/bin/$$i && \
		echo "./opsiclientd \$$@" >> debian/opsi-utils/usr/bin/$$i && \
		chmod 755 debian/opsi-utils/usr/bin/$$i \
	; done

	# place locales
	mv debian/opsi-utils/usr/lib/locale debian/opsi-utils/usr/share/
	
	dh_install

binary-indep: install
	dh_testdir -i
	dh_installdebconf
	dh_installchangelogs -i
	dh_md5sums
	dh_gencontrol
	dh_installdeb
	dh_builddeb

binary: binary-indep
build:
.PHONY: clean binary-indep binary install build
