#!/usr/bin/make -f
# -*- makefile -*-

clean:
	dh_testdir
	dh_testroot
	dh_clean
	rm -f debian/files || true
	rm doc/*.1 || true
	rm doc/*.1.gz || true

install:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	install -m 644 doc/compiled/opsi-admin.1.gz debian/opsi-utils/usr/share/man/man1/
	install -m 644 doc/compiled/opsi-backup.1.gz debian/opsi-utils/usr/share/man/man1/
	install -m 644 doc/compiled/opsi-convert.1.gz debian/opsi-utils/usr/share/man/man1/
	install -m 644 doc/compiled/opsi-makeproductfile.1.gz debian/opsi-utils/usr/share/man/man1/
	install -m 644 doc/compiled/opsi-newprod.1.gz debian/opsi-utils/usr/share/man/man1/
	install -m 644 doc/compiled/opsi-package-manager.1.gz debian/opsi-utils/usr/share/man/man1/
	install -m 644 doc/compiled/opsi-product-updater.1.gz debian/opsi-utils/usr/share/man/man1/

	msgfmt -o debian/opsi-utils/usr/share/locale/de/LC_MESSAGES/opsi-utils.mo gettext/opsi-utils_de.po
	chmod 644 debian/opsi-utils/usr/share/locale/de/LC_MESSAGES/opsi-utils.mo
	msgfmt -o debian/opsi-utils/usr/share/locale/fr/LC_MESSAGES/opsi-utils.mo gettext/opsi-utils_fr.po
	chmod 644 debian/opsi-utils/usr/share/locale/fr/LC_MESSAGES/opsi-utils.mo

	install -m 0755  opsi-admin           debian/opsi-utils/usr/bin/
	install -m 0755  opsi-newprod         debian/opsi-utils/usr/bin/
	install -m 0755  opsi-makeproductfile debian/opsi-utils/usr/bin/
	install -m 0755  opsi-package-manager debian/opsi-utils/usr/bin/
	install -m 0755  opsi-convert         debian/opsi-utils/usr/bin/
	install -m 0755  opsi-product-updater debian/opsi-utils/usr/bin/
	install -m 0755  opsi-backup          debian/opsi-utils/usr/bin/

	install -m 0660 -o root data/opsi-product-updater.conf  debian/opsi-utils/etc/opsi/

	dh_install

binary-indep: install
	dh_testdir -i
	dh_testroot -i
	dh_installdebconf
	dh_installchangelogs -i
	dh_shlibdeps
	dh_md5sums
	dh_gencontrol
	dh_installdeb
	dh_builddeb

binary: binary-indep
build:
.PHONY: clean binary-indep binary install build
